.main {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 100vh auto;
    display: block;
}
/* .welcome{
    background-color: black;
} */
.fondoContain {
    /* height: 100vh ;
     */
     height: auto;
    position: relative  ;
    top: -30px;
    display: flex;
    justify-content: center;
    
    /* border: 1px solid aliceblue; */
}

.fondo {
    width: 100vw;
    height: 400px;
    background-image: url("/fondos/fondoPrincipal.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.5; */
    align-items: center;

}
.fondo h1{
    width: auto;
    padding-top: 140px;
    color: black;
    text-align: center;
    font-size: 32px;
}

.descripcion {
    width: 400px; 
    width: auto;
    color: aliceblue;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 0px;
    border-left: 1px solid aliceblue;
}
.descripcion ul{
    padding: 20;
}
.descripcion li{
    text-align: left;
    list-style: circle;
    margin-bottom: 10px;
}
.descripcion button{
    width: 200px;
    height: 60px;
    border: 0;
    border-radius: 10px;
    background-color: #F2496A;
    font-size: 24px;
    margin-top: 20px;
    cursor: pointer;
}
/* .proyects{
    border-top: 1px solid aliceblue;
} */
.proyects h1{
    margin-left: 36px;
    font-weight: bolder;
    font-family: 'Dancing Script', cursive;
    font-size: 36px;
    
}
.proyects_contain{
    display: grid;
    grid-template-columns: 33%  33% 33%;
    align-items: center;
    justify-content: center;
    /* margin: 33px; */
}
.proyect{
    height: 200px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.proyect_money{
    width: 100%;
    background-image: url("../../public/fondos/fondoMoney.jpg");
}
.proyect_time{
    width: 100%;
    background-image: url("../../public/fondos/fondoTime.jpg");
}
.proyect_more{
    width: 100%;
    background-image: url("../../public/fondos/fondoCodigo.png");
}
.proyect button{
    width: 100%;
    height: 100%;
    border: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 2s ;
}
.proyect button:hover{
    /* transition: background-color 2s; */
    background-color: rgba(0, 0, 0, 0.2);
}


@media screen and (max-width: 720px) {
    .descripcion {
        width: auto;
        border: 0;
        border-top: 1px solid aliceblue;
        margin-top: 20px;
    }
    .main{
        display: block;
    }
    .proyectoSinAcabar{
        display: none;
    }
    .proyect button{
        font-size: 20px;
    }
}